

// Process Parameters:

// Process Parameters for filter_seq_quality:
params.filter_seq_quality.method =  "quality"  //* @dropdown @options:"quality, length, missing, maskqual" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.filter_seq_quality.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.filter_seq_quality.q =  "20"  //* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.filter_seq_quality.n_length =  "35"  //* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.filter_seq_quality.n_missing =  "10"  //* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"
params.filter_seq_quality.fasta =  "false"  //* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."

// Process Parameters for filter_seq_length:
params.filter_seq_length.method =  "quality"  //* @dropdown @options:"quality, length, missing, maskqual" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.filter_seq_length.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.filter_seq_length.q =  "20"  //* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.filter_seq_length.n_length =  "35"  //* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.filter_seq_length.n_missing =  "10"  //* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"
params.filter_seq_length.fasta =  "false"  //* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."

// Process Parameters for MaskPrimers_CPRIMERS:
params.MaskPrimers_CPRIMERS.method =  ["score"]  //* @dropdown @options:"score, align, extract" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."
params.MaskPrimers_CPRIMERS.barcode_field =  ["BARCODE"] //* @input @description:"Name of the annotation field containing the barcode name. Default BARCODE"
params.MaskPrimers_CPRIMERS.primer_field =  ["PRIMER"]  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.MaskPrimers_CPRIMERS.barcode =  ["false"]  //* @checkbox @description:"Check the box to remove the sequence preceding the extracted region and annotate the read with that sequence. Default false"
params.MaskPrimers_CPRIMERS.revpr =  ["false"]  //* @checkbox @description:"Check the box to activate revpr option. Default false." @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the <maxlen> argument, such that the search window begins at the tail-end of the sequence."
params.MaskPrimers_CPRIMERS.mode =  ["cut"]  //* @dropdown @options:"cut, mask, trim, tag" @description: "Which action to take with the primer sequence. Default cut." @tooltip:"The *cut* mode will remove both the primer region and the preceding sequence. The *mask* mode will replace the primer region with Ns and remove the preceding sequence. The *trim* mode will remove the region preceding the primer, but leave the primer region intact. The *tag* mode will leave the input sequence unmodified."
params.MaskPrimers_CPRIMERS.failed =  "false"  //* @checkbox @description:"Check the box to output the failed sequences. Default false"
params.MaskPrimers_CPRIMERS.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.MaskPrimers_CPRIMERS.maxerror =  [0.2]  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.MaskPrimers_CPRIMERS.umi_length =  ["0"]  //* @input @description:"The UMI length. Default value 0." @tooltip:"In the score and extract methods, setting a  <umi_length> will be added to the set <start> primer position. Such that the primer will start at the end of the UMI."
params.MaskPrimers_CPRIMERS.start =  [0]  //* @input @description:"The starting position of the primer. Default 0"
params.MaskPrimers_CPRIMERS.extract_length =  ["0"]  //* @input @description:"The sequence length to extract, only applicable for method extract. Default value 0."
params.MaskPrimers_CPRIMERS.maxlen =  [50]  //* @input @description:"Length of the sequence window to scan for primers. Default value 50."
params.MaskPrimers_CPRIMERS.skiprc =  ["false"]  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"
params.MaskPrimers_CPRIMERS.R1_primers =  ''  //* @input @file @optional @description:"local path The primer file for R1"
params.MaskPrimers_CPRIMERS.R2_primers =  ''  //* @input @file @optional @description:"local path The primer file for R2"

// Process Parameters for parse_log_MP_CPRIMERS:
params.parse_log_MP_CPRIMERS.suffix =  ""  //* @input @description:"Add a suffix to the log file name. Use when the process is called multiple times in a pipeline"

// Process Parameters for MaskPrimers_VPRIMERS:
params.MaskPrimers_VPRIMERS.method =  ["score"]  //* @dropdown @options:"score, align, extract" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."
params.MaskPrimers_VPRIMERS.barcode_field =  ["BARCODE"] //* @input @description:"Name of the annotation field containing the barcode name. Default BARCODE"
params.MaskPrimers_VPRIMERS.primer_field =  ["PRIMER"]  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.MaskPrimers_VPRIMERS.barcode =  ["false"]  //* @checkbox @description:"Check the box to remove the sequence preceding the extracted region and annotate the read with that sequence. Default false"
params.MaskPrimers_VPRIMERS.revpr =  ["false"]  //* @checkbox @description:"Check the box to activate revpr option. Default false." @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the <maxlen> argument, such that the search window begins at the tail-end of the sequence."
params.MaskPrimers_VPRIMERS.mode =  ["cut"]  //* @dropdown @options:"cut, mask, trim, tag" @description: "Which action to take with the primer sequence. Default cut." @tooltip:"The *cut* mode will remove both the primer region and the preceding sequence. The *mask* mode will replace the primer region with Ns and remove the preceding sequence. The *trim* mode will remove the region preceding the primer, but leave the primer region intact. The *tag* mode will leave the input sequence unmodified."
params.MaskPrimers_VPRIMERS.failed =  "false"  //* @checkbox @description:"Check the box to output the failed sequences. Default false"
params.MaskPrimers_VPRIMERS.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.MaskPrimers_VPRIMERS.maxerror =  [0.2]  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.MaskPrimers_VPRIMERS.umi_length =  ["0"]  //* @input @description:"The UMI length. Default value 0." @tooltip:"In the score and extract methods, setting a  <umi_length> will be added to the set <start> primer position. Such that the primer will start at the end of the UMI."
params.MaskPrimers_VPRIMERS.start =  [0]  //* @input @description:"The starting position of the primer. Default 0"
params.MaskPrimers_VPRIMERS.extract_length =  ["0"]  //* @input @description:"The sequence length to extract, only applicable for method extract. Default value 0."
params.MaskPrimers_VPRIMERS.maxlen =  [50]  //* @input @description:"Length of the sequence window to scan for primers. Default value 50."
params.MaskPrimers_VPRIMERS.skiprc =  ["false"]  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"
params.MaskPrimers_VPRIMERS.R1_primers =  ''  //* @input @file @optional @description:"local path The primer file for R1"
params.MaskPrimers_VPRIMERS.R2_primers =  ''  //* @input @file @optional @description:"local path The primer file for R2"

// Process Parameters for parse_log_MP_VPRIMERS:
params.parse_log_MP_VPRIMERS.suffix =  ""  //* @input @description:"Add a suffix to the log file name. Use when the process is called multiple times in a pipeline"

// Process Parameters for MaskPrimers_EXTRACT:
params.MaskPrimers_EXTRACT.method =  ["score"]  //* @dropdown @options:"score, align, extract" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."
params.MaskPrimers_EXTRACT.barcode_field =  ["BARCODE"] //* @input @description:"Name of the annotation field containing the barcode name. Default BARCODE"
params.MaskPrimers_EXTRACT.primer_field =  ["PRIMER"]  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.MaskPrimers_EXTRACT.barcode =  ["false"]  //* @checkbox @description:"Check the box to remove the sequence preceding the extracted region and annotate the read with that sequence. Default false"
params.MaskPrimers_EXTRACT.revpr =  ["false"]  //* @checkbox @description:"Check the box to activate revpr option. Default false." @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the <maxlen> argument, such that the search window begins at the tail-end of the sequence."
params.MaskPrimers_EXTRACT.mode =  ["cut"]  //* @dropdown @options:"cut, mask, trim, tag" @description: "Which action to take with the primer sequence. Default cut." @tooltip:"The *cut* mode will remove both the primer region and the preceding sequence. The *mask* mode will replace the primer region with Ns and remove the preceding sequence. The *trim* mode will remove the region preceding the primer, but leave the primer region intact. The *tag* mode will leave the input sequence unmodified."
params.MaskPrimers_EXTRACT.failed =  "false"  //* @checkbox @description:"Check the box to output the failed sequences. Default false"
params.MaskPrimers_EXTRACT.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.MaskPrimers_EXTRACT.maxerror =  [0.2]  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.MaskPrimers_EXTRACT.umi_length =  ["0"]  //* @input @description:"The UMI length. Default value 0." @tooltip:"In the score and extract methods, setting a  <umi_length> will be added to the set <start> primer position. Such that the primer will start at the end of the UMI."
params.MaskPrimers_EXTRACT.start =  [0]  //* @input @description:"The starting position of the primer. Default 0"
params.MaskPrimers_EXTRACT.extract_length =  ["0"]  //* @input @description:"The sequence length to extract, only applicable for method extract. Default value 0."
params.MaskPrimers_EXTRACT.maxlen =  [50]  //* @input @description:"Length of the sequence window to scan for primers. Default value 50."
params.MaskPrimers_EXTRACT.skiprc =  ["false"]  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"
params.MaskPrimers_EXTRACT.R1_primers =  ''  //* @input @file @optional @description:"local path The primer file for R1"
params.MaskPrimers_EXTRACT.R2_primers =  ''  //* @input @file @optional @description:"local path The primer file for R2"

// Process Parameters for parse_log_MP_EXTRACT:
params.parse_log_MP_EXTRACT.suffix =  ""  //* @input @description:"Add a suffix to the log file name. Use when the process is called multiple times in a pipeline"

// Process Parameters for check_for_seqs:
params.check_for_seqs.primers_file =  ''  //* @input @file @description:"local path The primer file"

// Process Parameters for align_sets:
params.align_sets.method =  "muscle"  //* @dropdown @options:"muscle, offset, table" @description:"Align set method. Default muscle (See https://presto.readthedocs.io/ for more details.)" @title:"General params"
params.align_sets.bf =  "UMI"  //* @input @description:"The annotation field containing barcode labels for sequence grouping. Default UMI"
params.align_sets.div =  "false"  //* @checkbox @description:"If specified, calculates nucleotide diversity of each set (average pairwise error rate). Default false" 
params.align_sets.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.align_sets.nproc =  "1"  //* @input @description: "Number of nproc to use for running FilterSeq. Default value 1."
params.align_sets.muscle_exec =  ""  //* @input @description:"The name or location of the muscle executable." title:"Muscle params"
params.align_sets.offset_table =  ""  //* @input @description:"The tab delimited file of offset tags and values." @title:"Offset params"
params.align_sets.pf =  "PRIMER"  //* @input @description:"The primer field to use for offset assignment. Default PRIMER"
params.align_sets.mode =  "cut"  //* @dropdown @option:"cut, pad" @description:"Specifies whether or align sequence by padding with gaps or by cutting the 5’ sequence to a common start position. Default cut"
params.align_sets.primer_file =  ""  //* @input @description:"A FASTA file containing primer sequences." @title:"Table params"
params.align_sets.reverse =  "false"  //* @checkbox @description:"If specified create a 3’ offset table instead. Default false" 

// Process Parameters for cluster_sets:
params.cluster_sets.method =  ["set"]  //* @dropdown @options:"set,all,barcode" @description:"Clustering method." @tooltip:"Set - Cluster sequences within annotation sets.\nAll - Cluster all sequences regardless of annotation.\nBarcode - Cluster reads by clustering barcode sequences"
params.cluster_sets.failed =  ["false"]  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.cluster_sets.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.cluster_sets.cluster_field =  ["CLUSTER"]  //* @input @description:"The name of the output annotation field to add with the cluster information for each sequence. Default CLUSTER."
params.cluster_sets.ident =  [0.9]  //* @input @description:"The sequence identity threshold to use for clustering. Default 0.9" @tooltip:" Note, how identity is calculated is specific to the clustering application used."
params.cluster_sets.length =  [0]  //* @input @description:"The minimum allowed shorter/longer sequence length ratio allowed within a cluster. Default 0" @tooltip:"Setting this value to 1.0 will require identical length matches within clusters. A value of 0.0 will allow clusters containing any length of substring."
params.cluster_sets.prefix =  [""]  //* @input @description:"A string to use as the prefix for each cluster identifier. By default, cluster identifiers will be numeric values only. Default none"
params.cluster_sets.cluster_tool =  ["usearch"]  //* @dropdown @options:"usearch,vsearch,cd-hit-est" @description:"The clustering tool to use for assigning clusters. Default usearch" @tooltip:"Must be one of usearch, vsearch or cd-hit-est. Note, for cd-hit-est the maximum memory limit is set to 3GB."
params.cluster_sets.cluster_exec =  [""]  //* @input @description:"The name or path of the usearch, vsearch or cd-hit-est executable."
params.cluster_sets.set_field =  ["BARCODE"]  //* @input @description:"The annotation field containing annotations, such as UMI barcode, for sequence grouping. Default BARCODE"
params.cluster_sets.start =  [0]  //* @input @desciption:"The start of the region to be used for clustering. Together with end, this parameter can be used to specify a subsequence of each read to use in the clustering algorithm. Default 0"
params.cluster_sets.end =  [""]  //* @input @description:"The end of the region to be used for clustering. Default none"
params.cluster_sets.barcode_field =  ["BARCODE"]  //* @input @description:"The annotation field containing barcode sequences. Default BARCODE"

// Process Parameters for parse_headers_copy:
params.parse_headers_copy.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.parse_headers_copy.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.parse_headers_copy.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Process Parameters for build_consensus:
params.build_consensus.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"
params.build_consensus.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.build_consensus.barcode_field =  "BARCODE"  //* @input @description:"Position of description barcode field to group sequences by. Default BARCODE." @title:"Consensus generation copy fields and actions"
params.build_consensus.primer_field =  ""  //* @input @description:"Specifies the field name of the primer annotations. Default is none." @tooltip:"In most processing pipeline this parameter is set to PRIMER"
params.build_consensus.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,majority" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The actions “min”, “max”, “sum” perform the corresponding mathematical operation on numeric annotations. The action “set” combines annotations into a comma delimited list of unique values and adds an annotation named <FIELD>_COUNT specifying the count of each item in the set. The action “majority” assigns the most frequent annotation to the consensus annotation and adds an annotation named <FIELD>_FREQ specifying the frequency of the majority value."
params.build_consensus.copy_field =  ""  //* @input @description:"Specifies a set of additional annotation fields to copy into the consensus sequence annotations. Default None" @tooltip:"If an action is specified under the <act> paramter, a copy field is needed as well."
params.build_consensus.mincount =  1  //* @input @description:"The minimum number of sequences needed to define a valid consensus. Default is 1" @title:"Consensus generation groups params"
params.build_consensus.minqual =  0  //* @input @description:"Consensus quality score cut-off under which an ambiguous character is assigned. Default value 0." @tooltip:"Does not apply when quality scores are unavailable."
params.build_consensus.minfreq =  0.6  //* @input @description:"Fraction of character occurrences under which an ambiguous character is assigned. Default value 0.6."
params.build_consensus.maxerror =  "none"  //* @input @description:"Maximum allowable error rate. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to calculate the error rate of each read group (rate of mismatches from consensus) and remove groups exceeding the given error threshold. The error rate is calculated against the final consensus sequence, which may include masked positions due to the <minqual> and <minfreq> arguments and may have deleted positions due to the <maxgap> argument. Mutually exclusive with <maxdiv>."
params.build_consensus.prcons =  "none"  //* @input @description:"Minimum primer frequency required. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to define a minimum primer frequency required to assign a consensus primer, and filter out sequences with minority primers from the consensus building step."
params.build_consensus.maxgap =  "none"  //* @input @description:"A cut-off for the frequency allowed gao values for each position. Default is none (A numeric field from 0 to 1)." @tooltip:"If specified, this defines a cut-off for the frequency of allowed gap values for each position. Positions exceeding the threshold are deleted from the consensus. If not defined, positions are always retained. "
params.build_consensus.maxdiv =  "none"  //* @input @description:"Maximum allowable diversity rate. Default is none (A numeric field from 0 to 1)" @tooltip:"Specify to calculate the nucleotide diversity of each read group (average pairwise error rate) and remove groups exceeding the given diversity threshold. Diversity is calculate for all positions within the read group, ignoring any character filtering imposed by the <minqual>, <minfreq> and <maxgap> arguments. Mutually exclusive with <maxerror>."
params.build_consensus.dep =  "false"  //* @checkbox @description:"Check the box to calculate consensus quality with a non-independence assumption. Default false"

// Process Parameters for parse_log_AS:
params.parse_log_AS.field_to_parse =  "ID BARCODE SEQCOUNT  ERROR " //* @input @description:"List of fields to collect, the fields should be seperated by space. Default ID REFID LENGTH OVERLAP GAP ERROR IDENTITY" @tooltip:"The sequence identifier may be specified using the hidden field name <ID>."

// Process Parameters for parse_headers_collapse:
params.parse_headers_collapse.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.parse_headers_collapse.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.parse_headers_collapse.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Process Parameters for collapse_seq:
params.collapse_seq.max_missing =  0  //* @input @description:"Maximum number of missing nucleotides to consider for collapsing sequences. A sequence will be considered undetermined if it contains too many missing nucleotides. Default is 0"
params.collapse_seq.inner =  "false"  //* @checkbox @description:"Exclude consecutive missing characters at either end of the sequence. Default is false."
params.collapse_seq.fasta =  "false"  //* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."
params.collapse_seq.act =  "none"  //* @dropdown @options:"none, min, max, sum, set" @description:"Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default none"
params.collapse_seq.uf =  ""  //* @input @description:"Specifies a set of annotation fields that must match for sequences to be considered duplicates. Default none"
params.collapse_seq.cf =  ""  //* @input @description:"Specifies a set of annotation fields to copy into the unique sequence output. Default none"
params.collapse_seq.nproc =  "1"  //* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.collapse_seq.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"

// Process Parameters for split_seq:
params.split_seq.field =  "CONSCOUNT"  //* @input @description: "Annotation field to split sequence files by. Default CONSCOUNT. "
params.split_seq.num =  2  //* @input @description: "Specify to define the split field as numeric and group sequences by value. Default 2."
params.split_seq.fasta =  "false"  //* @checkbox @description:"Check the box to get fasta file as output. Default false"

// Process Parameters for Alignment_FLAIRSEQ_IgBlastn:
params.Alignment_FLAIRSEQ_IgBlastn.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.Alignment_FLAIRSEQ_IgBlastn.ig_seqtype =  "Ig"  //* @dropdown @options:"Ig,TCR" @description:"Specify Ig or T cell receptor sequence. Default Ig"
params.Alignment_FLAIRSEQ_IgBlastn.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"
params.Alignment_FLAIRSEQ_IgBlastn.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.Alignment_FLAIRSEQ_IgBlastn.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"

// Process Parameters for Alignment_FLAIRSEQ_MakeDb:
params.Alignment_FLAIRSEQ_MakeDb.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Alignment_FLAIRSEQ_MakeDb.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.Alignment_FLAIRSEQ_MakeDb.regions =  "default"  //* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.Alignment_FLAIRSEQ_MakeDb.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.Alignment_FLAIRSEQ_MakeDb.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.Alignment_FLAIRSEQ_MakeDb.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.Alignment_FLAIRSEQ_MakeDb.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.Alignment_FLAIRSEQ_MakeDb.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.Alignment_FLAIRSEQ_MakeDb.name_alignment =  ""  //*input

// Process Parameters for Alignment_FLAIRSEQ_Collapse_AIRRseq:
params.Alignment_FLAIRSEQ_Collapse_AIRRseq.conscount_min =  2  //* @input @description:"Threshold filter for the consensus value. Default is above 2"
params.Alignment_FLAIRSEQ_Collapse_AIRRseq.n_max =  10  //* @input @description:"Number of N nucliotide allowed in a sequence. Default 10"
params.Alignment_FLAIRSEQ_Collapse_AIRRseq.name_alignment =  ""  //*input 

// Process Parameters for Clone_AIRRseq_First_CreateGermlines:
params.Clone_AIRRseq_First_CreateGermlines.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Clone_AIRRseq_First_CreateGermlines.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.Clone_AIRRseq_First_CreateGermlines.g =  "dmask"  //* @dropdown @options:"full,dmask,vonly,regions" @description:"pecify type(s) of germlines to include full germline, germline with D segment masked, or germline for V segment only."
params.Clone_AIRRseq_First_CreateGermlines.cloned =  "false" //* @input @description: "Specify to create only one germline per clone."
params.Clone_AIRRseq_First_CreateGermlines.seq_field =  ""  //* @input @description:"Field containing the aligned sequence. Defaults to sequence_alignment (airr) or SEQUENCE_IMGT (changeo)."
params.Clone_AIRRseq_First_CreateGermlines.v_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.Clone_AIRRseq_First_CreateGermlines.d_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.Clone_AIRRseq_First_CreateGermlines.j_field =  ""  //* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.Clone_AIRRseq_First_CreateGermlines.clone_field =  ""  //* @input @description:"Field containing clone identifiers. Defaults to clone_id (airr) or CLONE (changeo)."

// Process Parameters for Clone_AIRRseq_DefineClones:
params.Clone_AIRRseq_DefineClones.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Clone_AIRRseq_DefineClones.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.Clone_AIRRseq_DefineClones.seq_field =  ""   //* @input @description:"Field to be used to calculate distance between records. Defaults to junction (airr) or JUNCTION (changeo)."
params.Clone_AIRRseq_DefineClones.v_field =  ""   //* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.Clone_AIRRseq_DefineClones.d_field =  ""  //* @input @description:"Field containing the germline D segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.Clone_AIRRseq_DefineClones.j_field =  ""   //* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.Clone_AIRRseq_DefineClones.group_fields =  "" //* ""   //* @input @description:"Additional fields to use for grouping clones aside from V, J and junction length."
params.Clone_AIRRseq_DefineClones.mode =  "gene"  //* @dropdown @options:"allele,gene" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.Clone_AIRRseq_DefineClones.dist =  "0"   //* @input @description:"The distance threshold for clonal grouping"
params.Clone_AIRRseq_DefineClones.norm =  "len"  //* @dropdown @options:"len,mut,none" @description:"Specifies how to normalize distances. One of none (do not normalize), len (normalize by length), or mut (normalize by number of mutations between sequences)."
params.Clone_AIRRseq_DefineClones.act =  "set"  //* @dropdown @options:"first,set" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.Clone_AIRRseq_DefineClones.model =  "ham"  //* @dropdown @options:"ham,aa,hh_s1f,hh_s5f,mk_rs1nf,mk_rs5nf,hs1f_compat,m1n_compat" @description:"Specifies which substitution model to use for calculating distance between sequences"
params.Clone_AIRRseq_DefineClones.sym =  "avg"  //* @dropdown @options:"avg,min" @description:"Specifies how to combine asymmetric distances"
params.Clone_AIRRseq_DefineClones.link =  "single"  //* @dropdown @options:"single,average,complete" @description:"Type of linkage to use for hierarchical clustering."
params.Clone_AIRRseq_DefineClones.maxmiss =  "0"   //* @input @description:"The maximum number of non-ACGT characters (gaps or Ns) to permit in the junction sequence before excluding the record from clonal assignment"

// Process Parameters for Clone_AIRRseq_Second_CreateGermlines:
params.Clone_AIRRseq_Second_CreateGermlines.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Clone_AIRRseq_Second_CreateGermlines.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.Clone_AIRRseq_Second_CreateGermlines.g =  "dmask"  //* @dropdown @options:"full,dmask,vonly,regions" @description:"pecify type(s) of germlines to include full germline, germline with D segment masked, or germline for V segment only."
params.Clone_AIRRseq_Second_CreateGermlines.cloned =  "false" //* @input @description: "Specify to create only one germline per clone."
params.Clone_AIRRseq_Second_CreateGermlines.seq_field =  ""  //* @input @description:"Field containing the aligned sequence. Defaults to sequence_alignment (airr) or SEQUENCE_IMGT (changeo)."
params.Clone_AIRRseq_Second_CreateGermlines.v_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.Clone_AIRRseq_Second_CreateGermlines.d_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.Clone_AIRRseq_Second_CreateGermlines.j_field =  ""  //* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.Clone_AIRRseq_Second_CreateGermlines.clone_field =  ""  //* @input @description:"Field containing clone identifiers. Defaults to clone_id (airr) or CLONE (changeo)."

// Process Parameters for parse_headers_table:
params.parse_headers_table.method =  "collapse"  //* @dropdown @options:"collapse, add, copy, delete, expand, merge, rename, table" @description: "Parse method. Default collapse (See https://presto.readthedocs.io/ for more details.)"
params.parse_headers_table.act =  "min"  //* @dropdown @options:"min, max, sum, first, last, set, cat" @description: "Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default min (See https://presto.readthedocs.io/ for more details.)"
params.parse_headers_table.args =  "-f CONSCOUNT"  //* @input @description: "Additional arrguments for ParseHeader function. Defualt is '-f CONSCOUNT' for method collapse."

// Pipeline Config:
$HOSTNAME='default'
//* autofill
params.nproc = 20 //* @input @description:"number of processes cores to use"
params.run_FastQC = "yes" //* @input @description:"If to run fastqc"
params.constant_region = "" //* @dropdown @options:"M,G"
params.mate = "single"
params.alignment_mate = "single"
params.projectDir = "${projectDir}"
//params.v_germline = "${projectDir}/reference/V_gapped_asc.fasta"
//params.d_germline = "${projectDir}/reference/D.fasta"
//params.j_germline = "${projectDir}/reference/J.fasta"
//params.c_germline = "${projectDir}/reference/C.fasta"
//params.axuiliry_file = "${projectDir}/reference/human_gl.aux"
//params.custom_inentnal_data = "${projectDir}/reference/V.ndm"

docker.enabled = true
process {
	
    container = 'immcantation/suite:4.4.0'
    
    withName: FastQC  {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
}

params.container = process.container


if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "immcantation/suite:4.4.0"
    $DOCKER_OPTIONS = "-v /work:/work"

}

//* platform
if ($HOSTNAME == "ig03.lnx.biu.ac.il"){
    $DOCKER_IMAGE = "immcantation/suite:4.4.0"
    $DOCKER_OPTIONS = "-v /work:/work"
	$CPU  = 48
    $MEMORY = 300 
}
//* platform


//* autofill

profiles {

    standard {
        process.executor = 'local'
        process.cpus = "20"
        process.debug = true
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
}
